<div class="account-info row">
    <article class="subscreen-content col-xs-12">
        <h3>Add User</h3>
        <form action="#" id="editNameFormView" novalidate="" name="form">
            <p class="error" role="alert" style="color:red" ng-show="error">Please, fill all required fields</p>
            <p class="success" role="alert" style="color:green;"></p>
            <div class="row">
                <div class="form-group col-xs-12">
                    <label class="label-control" for="firstName">First Name</label><br/>
                    <input type="text" id="firstName" ng-model="user.firstName" name="firstName" class="account-info-input editable" maxlength="35" original-title="">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <label class="label-control" for="firstName">Last Name</label><br/>
                    <input type="text" id="lastName" ng-model="user.lastName" name="lastName" class="account-info-input editable" maxlength="35" original-title="">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <label class="label-control" for="firstName">* Username</label><br/>
                    <input type="text" id="username" required="" ng-model="user.username" name="username" class="account-info-input editable" maxlength="35" original-title="">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <label class="label-control" for="firstName">* Email</label><br/>
                    <input type="email" id="email" required="" ng-model="user.email" name="email" class="account-info-input editable" maxlength="35" original-title="">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <label class="label-control" for="firstName">Phone</label><br/>
                    <input type="tel" id="phone" ng-model="user.phone" name="phone" class="account-info-input editable" maxlength="35" original-title="">
                </div>
            </div>
            <br>
            <div class="editDetailsButtonRow">
                <a href="#" class="editDetailsSubmit btn btn-medium  btn-blue submit" ng-click="save()" automationid="editNameSave" title="Save">Save</a>
                <a href="#accountInfo" class="editDetailsCancel btn btn-medium btn-gray-light cancel" ng-click="cancel()" automationid="editNameCancel" title="Cancel">Cancel</a>
            </div>
        </form>
    </article>
</div>