<div>
    <style>
        .sortable{
            position: relative;
        }
        .sortable div{
            position: absolute;
            width: 100%;
            height: 70px;
            margin-bottom: 10px;
            /*background-color: #d3d3d3;*/
        }
    </style>
    <div class="sortable">
        <div style="background-color: #005bbb"></div>
        <div style="background-color: #bba350"></div>
        <div style="background-color: #12bb2b"></div>
        <div style="background-color: #bb3244"></div>
    </div>
    <script>
        $('.sortable').shapeshift();;
    </script>
</div>