<div class="row">
    <h1>Template Suite</h1>
    <br/>
    <div class="row">
        <div class="col-lg-4"><a href=""><img width="200px" src="/experiences/default/images/fema.png" alt=""/></a></div>
        <div class="col-lg-4"><a href=""><img width="200px" src="/experiences/default/images/hippa.jpg" alt=""/></a></div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="row">
        <div class="col-lg-4"><a ui-sref="tools.templatecollection"><img width="200px" src="/experiences/default/images/iso.jpg" alt=""/></a></div>
        <div class="col-lg-4"><a href=""><img  width="200px" src="/experiences/default/images/sarbanes-oxley.png" alt=""/></a></div>
    </div>
</div>