<div class=""  ng-init="$root.prevState='setup.workflow'; $root.nextState='setup.hierarchy'">
    <h1>User Administration</h1>

    <div ng-hide="$state.contains('add') || $state.contains('edit')" id="scroll_wrapper">
        <div id="scroll_fade"></div>
        <div id="contentLayer" data-viewport="contentViewport" data-viewport-options="{dontScrollToTop : true}"
             data-visible="@{ ! ${refundExplanationViewModel.viewportVisible} }" data-sid="S1040PERbfdi2899" class="">
            <table cellpadding="0" cellspacing="0" border="0" class="grid full-width">
                <tbody>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
                        <table cellpadding="0" cellspacing="0" border="0" class="grid full-width">
                            <tbody>
                            <tr>
                                <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"><span
                                        id="txtblk_00"><span class="subHeader" id="txtblk_00_0">Manage user profiles</span></span>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
                                    <!--<a  ng-hide="isBulkUpdating" class="btn ansRoyal" ng-click="bulkUpdate()">Bulk Update</a>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"></td>
                </tr>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst">
                        <table cellpadding="0" cellspacing="0" border="0" class="grid full-width">
                            <tbody>
                            <tr>
                                <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
                                    <table cellpadding="0" cellspacing="0" border="0" class="mcTable full-width" id="mc_00">
                                        <tbody>
                                        <tr>
                                            <td class="mcHeading" style="width: 15px;"><img
                                                    src="https://qtwu2-qprd-secure.images.turbotaxonline.intuit.com/turbotax/img/clear.gif"
                                                    alt="" width="1" height="1" border="0"></td>
                                            <td align="left" class="mcHeading">
                                                <nobr><span>User</span></nobr>
                                            </td>
                                            <td class="mcHeading" style="width: 25px;"><img
                                                    src="https://qtwu2-qprd-secure.images.turbotaxonline.intuit.com/turbotax/img/clear.gif"
                                                    alt="" width="1" height="1" border="0"></td>
                                            <td align="left" class="mcHeading">
                                                <nobr><span>Username</span></nobr>
                                            </td>
                                            <td class="mcHeading" style="width: 25px;"><img
                                                    src="https://qtwu2-qprd-secure.images.turbotaxonline.intuit.com/turbotax/img/clear.gif"
                                                    alt="" width="1" height="1" border="0"></td>
                                            <td align="left" class="mcHeading">
                                                <nobr><span>Date added</span></nobr>
                                            </td>
                                            <td align="right" class="mcHeading" style="width: 25px;"><img
                                                    src="https://qtwu2-qprd-secure.images.turbotaxonline.intuit.com/turbotax/img/clear.gif"
                                                    alt="" width="15" height="10" border="0"></td>
                                            <td align="center" class="mcHeading" width="110px">Action</td>
                                        </tr>
                                        <tr valign="top" class="mcRow" ng-repeat="user in users">
                                            <td align="right" valign="top" class="mcCol" style="width: 25px;"><img
                                                    src="https://qtwu2-qprd-secure.images.turbotaxonline.intuit.com/turbotax/img/clear.gif"
                                                    alt="" width="1" height="1" border="0"></td>
                                            <td align="left" class="mcCol"><a ui-sref="setup.users.edit({ id: user.id })">{{user.firstName}} {{user.lastName}}</a></td>
                                            <td align="right" valign="top" class="mcCol" style="width: 15px;"><img
                                                    src="https://qtwu2-qprd-secure.images.turbotaxonline.intuit.com/turbotax/img/clear.gif"
                                                    alt="" width="1" height="1" border="0"></td>
                                            <td align="left" class="mcCol"><span>{{user.username}}</span></td>
                                            <td align="right" valign="top" class="mcCol" style="width: 25px;"><img
                                                    src="https://qtwu2-qprd-secure.images.turbotaxonline.intuit.com/turbotax/img/clear.gif"
                                                    alt="" width="1" height="1" border="0"></td>
                                            <td align="left" class="mcCol"><span>{{user.dateAdded | date}}</span></td>
                                            <td align="right" class="mcCol" style="width: 25px;"><img
                                                    src="https://qtwu2-qprd-secure.images.turbotaxonline.intuit.com/turbotax/img/clear.gif"
                                                    alt="" width="10" height="10" border="0"></td>
                                            <td align="center" valign="top" class="mcDeleteCol">
                                                <nobr>
                                                    <button id="mc_00_del0" aria-label="Delete" role="button" ng-click="delete(user)"
                                                            class="btn ansLP" tabindex="2">Delete
                                                    </button>
                                                    <div ng-show="user.isDeleting">Are you sure?<br/>
                                                        <button aria-label="Delete" role="button" ng-click="delete(user)"
                                                                class="btn ansRoyal" tabindex="2">Yes</button>
                                                        <a href="" ng-click="user.isDeleting=false">No</a>
                                                    </div>
                                                    <!--<img src="https://qtwu2-qprd-secure.images.turbotaxonline.intuit.com/turbotax/img/clear.gif"-->
                                                    <!--alt="" width="5" height="10" border="0">-->
                                                    <!--<button id="mc_00_del0" aria-label="Delete" role="button"-->
                                                    <!--class="btn ansLP" tabindex="2">Bulk-->
                                                    <!--</button>-->

                                                    <!--<img src="https://qtwu2-qprd-secure.images.turbotaxonline.intuit.com/turbotax/img/clear.gif"-->
                                                    <!--alt="" width="5" height="10" border="0">-->
                                                    <!--<button id="mc_00_del0" aria-label="Delete" role="button"-->
                                                    <!--class="btn ansLP" tabindex="2">Clone-->
                                                    <!--</button>-->
                                                </nobr>
                                            </td>
                                        </tr>
                                        <tr valign="bottom">
                                            <td align="right" class="mcAnsCol1"><img
                                                    src="https://qtwu2-qprd-secure.images.turbotaxonline.intuit.com/turbotax/img/clear.gif"
                                                    alt="" width="1" height="10" border="0"></td>
                                            <td align="left" colspan="7" class="mcAnsCol1">
                                                <a role="button" ui-sref="setup.users.add"
                                                   class="btn ansRoyal" tabindex="3">Add User
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <p></p></td>
                            </tr>
                            </tbody>


                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="formLayer" style="max-height: 250px; width: 698px;"></div>
    </div>
    <div ui-view=""></div>
</div>