<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>AngularJS Organization Diagram Directive Example</title>

    <!--<link rel="stylesheet" href="demo/js/jquery/ui-lightness/jquery-ui-1.10.2.custom.css" />-->
    <!--<script type="text/javascript" src="demo/js/jquery/jquery-1.9.1.js"></script>-->
    <!--<script type="text/javascript" src="demo/js/jquery/jquery-ui-1.10.2.custom.min.js"></script>-->

    <script type="text/javascript" src="/my-coop/scripts/libraries/jquery.js"></script>
    <script type="text/javascript" src="/my-coop/scripts/libraries/jquery-ui-1.10.2.custom.js"></script>
    <script type="text/javascript" src="/my-coop/scripts/libraries/primitives.latest.js"></script>
    <link href="/my-coop/styles/vendor/primitives.latest.css" media="screen" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>



    <script type='text/javascript'>//<![CDATA[
    var App = angular.module('orgDiagramApp', []);

    App.controller('orgDiagramController', function ($scope) {

        var options = new primitives.orgdiagram.Config();

        var items = [
            new primitives.orgdiagram.ItemConfig({
                id: 0,
                parent: null,
                title: "Scott Aasrud",
                description: "VP, Public Sector",
                image: "demo/images/photos/a.png"
            }),
            new primitives.orgdiagram.ItemConfig({
                id: 1,
                parent: 0,
                title: "Ted Lucas",
                description: "VP, Human Resources",
                image: "demo/images/photos/b.png"
            }),
            new primitives.orgdiagram.ItemConfig({
                id: 2,
                parent: 0,
                title: "Joao Stuger",
                description: "Business Solutions, US",
                image: "demo/images/photos/c.png"
            })
        ];

        options.items = items;
        options.cursorItem = 0;
        options.hasSelectorCheckbox = primitives.common.Enabled.True;

        $scope.options = options;

        $scope.setCursorItem = function (cursorItem) {
            $scope.options.cursorItem = cursorItem;
        };

    });

    App.directive('ngChart', function () {
        return {
            link: function (scope, element, attrs) {
                var chart = null;

                scope.$watch(attrs.ngModel, function (options) {
                    if (!chart) {
                        chart = jQuery(element).orgDiagram(scope[attrs.ngModel]);
                    } else {
                        chart.orgDiagram(scope[attrs.ngModel]);
                        chart.orgDiagram("update", primitives.orgdiagram.UpdateMode.Refresh);
                    }
                }, true);
            }
        };
    });
    </script>
</head>
<body>
<div data-ng-app='orgDiagramApp'>
    <div data-ng-controller='orgDiagramController'>
        <p>
            <button data-ng-click='setCursorItem(0)'>Scott Aasrud</button>
            <button data-ng-click='setCursorItem(1)'>Ted Lucas</button>
            <button data-ng-click='setCursorItem(2)'>Joao Stuger</button>
        </p>
        <div data-ng-chart="" data-ng-model='options' style="width: 640px; height: 480px; border-style: dotted; border-width: 1px;"></div>
    </div>
</body>
</html>
