<div>
    <h1>Setup Review</h1>

    <table cellpadding="0" cellspacing="0" border="0" class="grid">
    <tbody>
    <tr>
        <td align="left" valign="top" colspan="3" class="colFirst colNoVerticalPad">
            <table cellpadding="0" cellspacing="0" border="0" class="grid">
                <tbody>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"
                        style="width: 672px;"><span id="txtblk_00"><span class="main" id="txtblk_00_0"></span></span>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
    <td align="left" valign="top" colspan="1" class="colLast">
    <table cellpadding="0" cellspacing="0" border="0" class="grid">
    <tbody>
    <tr>
        <td align="left" valign="top" colspan="2" class="colFirst colNoVerticalPad">
            <table cellpadding="0" cellspacing="0" border="0" class="grid">
                <tbody>
                <tr>
                    <td align="left" valign="top" colspan="2" class="colFirst colNoVerticalPad">
                        <div class="rule3solid"></div>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"
                        style="width: 577px;"></td>
                    <td></td>
                </tr>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst"><span
                            id="txtblk_01"><span class="mainbold"
                                                 id="txtblk_01_0">ORGANIZATION PROFILE</span></span>
                    </td>
                    <td align="right" valign="top" colspan="1" class="colLast">
                        <button id="Edit_00" aria-label="Edit" ng-click="goToEditMode('details')" role="button"
                                class="btn ansSm"
                                tabindex="1">Edit
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" colspan="1" class="colFirst">
            <table cellpadding="0" cellspacing="0" border="0" class="grid">
                <tbody>
                <tr>
                    <td align="left" valign="top" colspan="1"
                        class="colFirst colNoVerticalPad colNoVerticalPad"
                        style="width: 39px;"></td>
                </tr>
                </tbody>
            </table>
        </td>
        <td align="left" valign="top" colspan="1" class="colLast">
            <table cellpadding="0" cellspacing="0" border="0" class="grid">
                <tbody>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
                        <span id="txtblk_02"><span class="main" id="txtblk_02_0">Company 123</span></span>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst"><span
                            id="txtblk_03"><span class="main" id="txtblk_03_0">Financial services</span></span>
                    </td>
                </tr>

                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" colspan="2" class="colFirst">
            <table cellpadding="0" cellspacing="0" border="0" class="grid">
                <tbody>
                <tr>
                    <td align="left" valign="top" colspan="2" class="colFirst colNoVerticalPad">
                        <div class="rule3solid"></div>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"
                        style="width: 577px;"></td>
                    <td></td>
                </tr>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst"><span
                            id="txtblk_07"><span class="mainbold"
                                                 id="txtblk_07_0">STANDARDS & COMPLIANCE</span></span></td>
                    <td align="right" valign="top" colspan="1" class="colLast">
                        <button id="Edit_01" aria-label="Edit" ng-click="goToEditMode('address')" role="button"
                                class="btn ansSm"
                                tabindex="2">Edit
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" colspan="1" class="colFirst">
            <table cellpadding="0" cellspacing="0" border="0" class="grid">
                <tbody>
                <tr>
                    <td align="left" valign="top" colspan="1"
                        class="colFirst colNoVerticalPad colNoVerticalPad"
                        style="width: 39px;"></td>
                </tr>
                </tbody>
            </table>
        </td>
        <td align="left" valign="top" colspan="1" class="colLast">
            <table cellpadding="0" cellspacing="0" border="0" class="grid">
                <tbody>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
                       FEMA <br/> ISO
                    </td>
                </tr>

                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" colspan="2" class="colFirst">
            <table cellpadding="0" cellspacing="0" border="0" class="grid">
                <tbody>
                <tr>
                    <td align="left" valign="top" colspan="2" class="colFirst colNoVerticalPad">
                        <div class="rule3solid"></div>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"
                        style="width: 577px;"></td>
                    <td></td>
                </tr>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst"><span
                            id="txtblk_0b"><span class="mainbold" id="txtblk_0b_0">RESOURCE DIRECTORIES</span><span
                            class="main" id="txtblk_0b_1"> </span></span></td>
                    <td align="right" valign="top" colspan="1" class="colLast">
                        <button id="Edit_02" aria-label="Edit" ng-click="goToEditMode('main-contact')" role="button"
                                class="btn ansSm"
                                tabindex="3">Edit
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" colspan="1" class="colFirst">
            <table cellpadding="0" cellspacing="0" border="0" class="grid">
                <tbody>
                <tr>
                    <td align="left" valign="top" colspan="1"
                        class="colFirst colNoVerticalPad colNoVerticalPad"
                        style="width: 39px;"></td>
                </tr>
                </tbody>
            </table>
        </td>
        <td align="left" valign="top" colspan="1" class="colLast">
            <table cellpadding="0" cellspacing="0" border="0" class="grid">
                <tbody>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
                                                <span id="txtblk_0c"><span class="important"
                                                                           id="txtblk_0c_0">Vendors Missing</span></span>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
                                                <span id="txtblk_0c"><span class="main"
                                                                           id="txtblk_0c_0">Employee Contacts</span></span>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
                                                <span id="txtblk_0c"><span class="main"
                                                                           id="txtblk_0c_0">Business Location</span></span>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" colspan="1"
                        class="colFirst colNoVerticalPad"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top" colspan="2" class="colFirst">
            <table cellpadding="0" cellspacing="0" border="0" class="grid">
                <tbody>
                <tr>
                    <td align="left" valign="top" colspan="2" class="colFirst colNoVerticalPad">
                        <div class="rule3solid"></div>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"
                        style="width: 577px;"></td>
                    <td></td>
                </tr>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst"><span
                            id="txtblk_0b"><span class="mainbold" id="txtblk_0b_0">TEMPLATE COLLECTION</span><span
                            class="main" id="txtblk_0b_1"> </span></span></td>
                    <td align="right" valign="top" colspan="1" class="colLast">
                        <button id="Edit_02" aria-label="Edit" ng-click="goToEditMode('alternate-contact')" role="button"
                                class="btn ansSm"
                                tabindex="3">Edit
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" colspan="1" class="colFirst">
            <table cellpadding="0" cellspacing="0" border="0" class="grid">
                <tbody>
                <tr>
                    <td align="left" valign="top" colspan="1"
                        class="colFirst colNoVerticalPad colNoVerticalPad"
                        style="width: 39px;"></td>
                </tr>
                </tbody>
            </table>
        </td>
        <td align="left" valign="top" colspan="1" class="colLast">
            <table cellpadding="0" cellspacing="0" border="0" class="grid">
                <tbody>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
                                                <span id="txtblk_0c"><span class="important"
                                                                           id="txtblk_0c_0">MC00001</span></span>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
                                                <span id="txtblk_0c"><span class="main"
                                                                           id="txtblk_0c_0">MC04002</span></span>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
                                                <span id="txtblk_0c"><span class="main"
                                                                           id="txtblk_0c_0">MC05001</span></span>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top" colspan="1"
                        class="colFirst colNoVerticalPad"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    <a href="" class="btn btn-blue ">DONE</a>
</div>