<div>
    <h1>User Interface</h1>
    <br/>
    <div class="clearfix">

        <a href="" class="">Change logo</a>
        <img src="http://edw2014.dataversity.net/uploads/ConfSiteAssets/79/image/bank-of-america-logo.png" alt=""
             style="border: 1px solid #808080; display: block; height: 60px; margin-right: 10px; margin-top: 0px;"/>
    </div>
    <br/>
    <div>
        <a class="editDetailsSubmit btn btn-medium  btn-gray submit pull-left" ui-sref="setup.resources"
           automationid="editNameSave"
           title="Save">Back</a>

        <a class="editDetailsSubmit btn btn-medium  btn-blue submit pull-right" ui-sref="setup.templates"
           automationid="editNameSave"
           title="Save">Save &amp; Continue</a>
    </div>
</div>