<div id="sectionTitle">Home</div>

<div id="dialogRegion" class="screenid_welcome.returningUser section_home">
    <div id="contentRegion" role="main">
        <div id="dashboardHomeLink">
            <button id="backButton" class="btn btn-primary btn-sm"
                    onclick="TTOController.doTopicJump('WebmyCOOP~StartGroup~WelcomeWTT')"
                    data-event="@{ RUE.constants.event.RUE_NAVIGATION_CHANGE }"
                    data-event-options="{ navTopic : 'rueNavDashboardHome' }" event="rue.changeNavigation">
                <span>&lt;</span>Back to 2013 tax info
            </button>
        </div>
        <!-- anchor link receives focus from 'Skip to Main Content' accessibility link -->
        <a name="mainBody" id="mainBody"></a>

        <div id="titleGraphicLayer" style="display: none;"></div>
        <div id="titleLayer" style="display: none;"><span class="title"></span></div>
        <div id="subtitleLayer" style="display: none;"><span class="subtitle"></span></div>
        <div id="scroll_wrapper">
            <div id="scroll_fade"></div>
            <div id="contentLayer" data-viewport="contentViewport" data-viewport-options="{dontScrollToTop : true}"
                 data-visible="@{ ! ${refundExplanationViewModel.viewportVisible} }"
                 data-sid="welcome.returningUser">


                <title>Welcome back to myCOOP</title>


                <div id="mainReturnUserDiv" class="mainWelcomeDiv">
                    <div id="welcomeSection" class="welcomeSection">
                        <div class="row">
                            <h1 class="col-lg-12">Hi Tom, welcome back to myCOOP!</h1>

                            <div class="col-sm-7">
                                <p class="subHeader">Select <strong>Continue</strong> to pick up where you left off.
                                </p>
                            </div>
                            <div class="col-sm-5">
                                <p>
                                    <a id="continueButton" href="#/federal" class="btn ansLg"
                                       data-nav="continue">Continue</a>
                                </p>
                            </div>
                        </div>
                        <!-- Display if a user has a Hard Stop -->
                        <div data-visible="@{ ${welcomeModel.hardStop} }" style="display: none;">
                            <h3>Items to Revisit</h3>

                            <p class="subHeader">Get started on items in your return that were previously under
                                construction:
                                <a id="hardStop" href="#" class="btn ansSm" data-nav="jumpToHardStop">Take Me
                                    There</a>
                            </p>
                        </div>
                        <!-- Display if any forms are unavailable -->
                        <div data-visible="@{ WelcomeActionClass.hasUnavailableForms() }" style="display: none;">
                            <p class="subHeader">The government is still working to finalize the following forms.
                                Select "Notify Me" to
                                be alerted when the forms are ready.
                                <a id="formNotification" href="#" class="link"
                                   onclick="WelcomeActionClass.openNotifyMeURL()">Notify Me</a>
                            </p>
                            <!-- Iterate through  UnavailableForms array and display every form -->
                            <div data-template="#unavailableFormTemplate"
                                 data-template-options="{ forms : ${welcomeModel.UnavailableForms} }">


                            </div>
                            <a class="link" href="#" id="seeAllUnfinishedFormsLink"
                               data-nav="jumpToUnfinishedForms">See all unfinished forms</a>
                        </div>
                    </div>

                    <div id="userActions" class="row">
                        <div id="manageReturn" class="col-sm-6">
                            <h3>Manage Your Return</h3>

                            <ul class="welcomeBullets">
                                <!--<li data-visible="@{ ${welcomeModel.productID} != '512' }">-->
                                <!--<a class="footerLink" id="lnkViewPriorYear" href="#" onclick="TTOApp.utils.nav.goPriorReturn()">Prior Year Tax Returns</a>-->
                                <!--</li>-->
                                <li data-visible="@{ ${welcomeModel.productID} != '4' }"
                                    style="display: list-item;">
                                    <a class="footerLink" id="lnkGoToEze" href="#"
                                       onclick="TTOApp.utils.feature.ezextension()">File an extension</a>
                                </li>
                                <li data-visible="@{ ${welcomeModel.productID} != '4' }"
                                    style="display: list-item;">
                                    <a class="footerLink" id="lnkAmendReturn" href="#" data-nav="jumpToTopicAmend">Amend
                                        (change) a filed and accepted return</a>
                                </li>
                                <!-- Options that have been moved to the Tools menu
                                    <li>
                                        <a class="footerLink" id="lnkSaveInfo" href="#" onclick="TTOApp.Controller.downloadDataFile()">Save your
                                                                                                                  ${welcomeModel.taxYear}
                                                                                                                  return to your computer</a>
                                    </li>
                                    <li>
                                        <a class="footerLink" id="lnkDeleteForm" href="#" data-nav="jumpToDeleteForm">Delete a form</a>
                                    </li>
                                    <li>
                                        <a class="footerLink" id="lnkClearReturn" data-nav="clearReturn">Clear your ${welcomeModel.taxYear} return and start over</a>
                                    </li>
                                -->
                                <li data-visible="@{ ${welcomeModel.productID} == '32' }" style="display: none;">
                                    <a class="footerLink" id="lnkCreateForm" href="#"
                                       onclick="TTOApp.utils.nav.goToCreateW21099()">Create W-2s and 1099s</a>
                                </li>
                            </ul>
                        </div>
                        <div id="manageAccount" class="col-sm-6">
                            <h3>Manage Your Account</h3>

                            <ul class="welcomeBullets">
                                <li data-visible="@{ WelcomeActionClass.isRegisteredUser() }"
                                    style="display: list-item;">

                                    <a class="footerLink" id="lnkUpdateInfo" href="#"
                                       onclick="TTOApp.utils.nav.goToEditMyAccount()">Change user ID, e-mail, or
                                        password</a>
                                </li>
                                <li data-visible="@{ ${welcomeModel.productID} != '4' &amp;&amp;  ${welcomeModel.productID} != '32' }"
                                    style="display: list-item;">
                                    <a class="footerLink" id="lnkUpgradeProduct" href="#" data-event="upgrade">Upgrade
                                        your myCOOP product</a>
                                </li>
                                <li>
                                    <a class="footerLink" id="lnkViewOrder" href="#"
                                       data-nav="jumpToPaymentSummary">View order summary</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>


            </div>
            <div id="formLayer"></div>
        </div>
        <div id="iconLayer"></div>
        <div id="answerLayer" style="visibility: hidden;"></div>
    </div>
</div>

<!-- end dialogRegion -->

<footer id="footerLayer" align="center" role="contentinfo">
    <div id="LiveCommWrapper" class="hide">
        <iframe name="CIAFrame" id="CIAFrame" class="CIAFrame" src="blank.htm" scrolling="no" noresize=""
                frameborder="no"></iframe>
    </div>
    <!-- actions setup in zStaticRegion._setPrivacy -->
    <div class="links">
        <a href="javascript:;" id="license_agreement">License Agreement</a>
        | <a href="javascript:;" id="privacy">Privacy</a>
        | <a href="javascript:;" id="security">Security</a>
        | <a href="javascript:;" id="support">Support</a>

        <br>© 2014 Intuit Inc. All rights reserved.
    </div>
    <div id="promoLayer" style="visibility: hidden;"></div>
    <div></div>
</footer>

