<div id="sectionTitle">Home</div>

<div id="dialogRegion" class="screenid_welcome.returningUser section_home">
    <div id="contentRegion" role="main">
        <div id="dashboardHomeLink">
            <button id="backButton" class="btn btn-primary btn-sm"
                    onclick="TTOController.doTopicJump('WebmyCOOP~StartGroup~WelcomeWTT')"
                    data-event="@{ RUE.constants.event.RUE_NAVIGATION_CHANGE }"
                    data-event-options="{ navTopic : 'rueNavDashboardHome' }" event="rue.changeNavigation">
                <span>&lt;</span>Back to 2013 tax info
            </button>
        </div>
        <!-- anchor link receives focus from 'Skip to Main Content' accessibility link -->
        <a name="mainBody" id="mainBody"></a>

        <div id="titleGraphicLayer" style="display: none;"></div>
        <div id="titleLayer" style="display: none;"><span class="title"></span></div>
        <div id="subtitleLayer" style="display: none;"><span class="subtitle"></span></div>
        <div id="scroll_wrapper">
            <div id="scroll_fade"></div>
            <div id="contentLayer" data-viewport="contentViewport" data-viewport-options="{dontScrollToTop : true}"
                 data-visible="@{ ! ${refundExplanationViewModel.viewportVisible} }"
                 data-sid="welcome.returningUser">


                <title>Welcome back to MyCOOP</title>


                <div id="mainReturnUserDiv" class="mainWelcomeDiv">
                    <div id="welcomeSection" class="welcomeSection">
                        <div class="row">

                            <div class="col-sm-7">
                                <p class="subHeader">Select <strong>Continue</strong> to pick up where you left off.
                                </p>
                            </div>
                            <div class="col-sm-5">
                                <p>
                                    <a id="continueButton" href="#/federal" class="btn ansLg"
                                       data-nav="continue">Continue</a>
                                </p>
                            </div>
                        </div>
                        <!-- Display if a user has a Hard Stop -->
                        <div data-visible="@{ ${welcomeModel.hardStop} }" style="display: none;">
                            <h3>Items to Revisit</h3>

                            <p class="subHeader">Get started on items in your return that were previously under
                                construction:
                                <a id="hardStop" href="#" class="btn ansSm" data-nav="jumpToHardStop">Take Me
                                    There</a>
                            </p>
                        </div>
                        <!-- Display if any forms are unavailable -->
                        <div data-visible="@{ WelcomeActionClass.hasUnavailableForms() }" style="display: none;">
                            <p class="subHeader">The government is still working to finalize the following forms.
                                Select "Notify Me" to
                                be alerted when the forms are ready.
                                <a id="formNotification" href="#" class="link"
                                   onclick="WelcomeActionClass.openNotifyMeURL()">Notify Me</a>
                            </p>
                            <!-- Iterate through  UnavailableForms array and display every form -->
                            <div data-template="#unavailableFormTemplate"
                                 data-template-options="{ forms : ${welcomeModel.UnavailableForms} }">


                            </div>
                            <a class="link" href="#" id="seeAllUnfinishedFormsLink"
                               data-nav="jumpToUnfinishedForms">See all unfinished forms</a>
                        </div>
                    </div>
                    <p>
                        <h3>Some things you can do:</h3>
                    </p>
                    <div id="userActions" class="row">
                        <div  class="col-sm-4">
                            <h3>PLANNING ACTIVITIES</h3>
                            <ul class="welcomeBullets">
                                <li style="display: list-item;">
                                    <a class="footerLink" href="#">Generate Reports</a>
                                </li>
                                <li style="display: list-item;">
                                    <a class="footerLink" href="#">Request Approval</a>
                                </li>
                                <li style="display: list-item;">
                                    <a class="footerLink" href="#">Print your Plan</a>
                                </li>
                            </ul>
                        </div>
                        <div  class="col-sm-3">
                            <h3>TASK TRACKING</h3>
                            <ul class="welcomeBullets">
                                <li style="display: list-item;">
                                    <a class="footerLink" href="#">Tasks Assignments</a>
                                </li>
                                <li style="display: list-item;">
                                    <a class="footerLink" href="#">Request Support</a>
                                </li>
                            </ul>
                        </div>
                        <div  class="col-sm-3">
                            <h3>TASK TRACKING</h3>
                            <ul class="welcomeBullets">
                                <li style="display: list-item;">
                                    <a class="footerLink" href="#"> Personal Settings</a>
                                </li>
                                <li style="display: list-item;">
                                    <a class="footerLink" href="#"> Notifications & Alerts</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>


            </div>
            <div id="formLayer"></div>
        </div>
        <div id="iconLayer"></div>
        <div id="answerLayer" style="visibility: hidden;"></div>
    </div>
</div>

<!-- end dialogRegion -->
