<h1>Informational page</h1>
        <p>
            <em>Hierarchy – A parent child relationship between organization entities and will
            define how information is shared between them</em>
            <br/>
            Hierarchy management is data sharing system that grants access to organizational sub units based on the

            BCM program requirements. It enables your company to structure your BCM data and users. Particularly if

            your organization has a private sharing model you may need to grant users access to organizational sub units

            based on criteria such as Location or a custom criteria that is relevant to your business. You may also need

            to generate forecasts for these diverse categories of organizational sub units. Territory management solves

            these business needs and provides a powerful solution for structuring your users accounts and their associated

            contacts opportunities and cases.</p>