<div id="viewport" class="container" data-sid="DashboardScreen">
<div id="newAnimationContainer" style="position:relative">
    <div class="dashboard row">
        <h1 class="mytt header1">Plan Timeline</h1>
        <!-- This is a place holder for the healthcare post file details -->

        <div class="dashboard row ">
            <div id="dashboard-healthcare-timeline" class="dashboard-timeline row hidden">
                <div id="dashboard-healthcare" class="timeline-section-content card-shadow top">
                    <div id="dashboard-healthcare-heading" class="col-xs-12 timeline-row">
                        <h2 class="timeline-heading dashboard-row-header status-notfiled active dashboard-healthcare">
                            Let's look at 2014</h2>

                        <div id="dashboard-healthcare-wrapper">
                            <div id="dashboard-healthcare-holder" class="alignWithFooter topRowSpace">
                                <div id="dashboard-healthcare-details">
                                    <div class="timeline-section-content timeline-section timeline-section-hidden"
                                         style="display: block;">
                                        <!--render healthcare details and money finder here -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="dashboard-content-row" class="dashboard row">
        <div id="dashboard-wrapper">
            <div id="dashboard-content" class="content alignWithFooter card-shadow">
                <h2 class="timeline-heading timeline-heading-noclick status-filed dashboard-row-header">
                    Tom, Welcome to myCoop, let's get started.
                </h2>

                <div id="animation-container" class="animation-fix">
                    <div id="dashboard-content-holder">
                        <div class="row dashboard-hero">
                            <div id="current-year-returns-list">
                                <div class="row dashboard-row">
                                    <div class="col-xs-8 small-block">


                                        <p><a href="/admin/#/home/profile"
                                              class="btn btn-large btn-orange small-block topSpace sendToProductOffering in-progress-button">
                                            Continue Plan
                                        </a>
                                        </p>
                                        <a href="/admin/#/home/profile"
                                           class="btn btn-large btn-orange small-block topSpace sendToProductOffering in-progress-button">Start
                                            new Plan</a>

                                        <p></p>
                                    </div>
                                    <div class="col-xs-3 in-progress-p small-block">
                                        <img src="/experiences/default/images/globe.png"
                                             class="in-progress-warmth-img">
                                    </div>
                                </div>
                            </div>
                            <div class="secondary-actions-wrapper col-xs-12">
                                <div class="actionMenuWrapperNew actionMenuInHero">
                                    <div class="secondary-action-chevron">&nbsp;</div>
                                    <div class="col-xs-12 secondaryActionContainer">
                                        <div id="topActionMenu"
                                             class="offseasonSecondiLinksWrapNew collapsedActions">
                                            <h3>Some things you can do:</h3>

                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <h4 class="">PLANNING ACTIVITIES</h4>
                                                        <ul>
                                                            <li><a href=""><span
                                                                    class="glyphicon glyphicon-file"></span> Generate
                                                                Reports</a></li>
                                                            <li><a href=""><span class="glyphicon glyphicon-ok"></span>
                                                                Request Approval</a></li>
                                                            <li><a href=/admin/#/tools/print><span
                                                                    class="glyphicon glyphicon-print"></span> Print your
                                                                Plan </a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <h4 class="">TASK TRACKING</h4>
                                                        <ul>
                                                            <li>
                                                                <a href="/admin/#/tools/template-collection"><span
                                                                        class="glyphicon glyphicon-list-alt"></span>
                                                                    Template Collection</a></li>
                                                            <li><a href=""><span
                                                                    class="glyphicon glyphicon-tasks"></span> View Tasks
                                                                Assignments</a></li>
                                                            <li><a href=""><span
                                                                    class="glyphicon glyphicon-question-sign"></span>
                                                                Request Support</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <h4 class="">USER SETTINGS</h4>
                                                        <ul>
                                                            <li><a href=""><span class="glyphicon glyphicon-cog"></span>
                                                                Modify Personal Settings</a></li>
                                                            <li><a href=""><span
                                                                    class="glyphicon glyphicon-bell"></span> Modify
                                                                Notifications & Alerts</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row dashboard-timeline">
        <div id="timeline-wrapper" class="col-xs-12">
            <!--<h1>myCOOP Timeline</h1>-->

            <div id="timeline" class="row">


                <div class="col-xs-12">
                    <!--<h2 class="timeline-heading timeline-heading-noclick joined">Joined myCOOP</h2>-->

                    <div class="timeline-section-content timeline-section-hidden">

                    </div>
                </div>


            </div>
        </div>
    </div>
    <!--This is for animation on the dashboard + timeline -->
    <div class="animatedBorder">
        <div class="actualBorderAnimation">

        </div>
    </div>


</div>

<div class="visible-xs isXS"></div>
<div class="scroll-arrow-bounce"></div>

<h1 class="money-tools-header">Announcements</h1>

<div class="col-xs-12 money-tools money-tools-carousel">

    <!--<p class="subheader">These easy-to-use personal finance tools and calculators make it easy to understand what's going on with your money.</p>-->

    <div id="carousel-money-tools" class="row carousel slide">

        <!-- Indicators -->


        <ol class="carousel-indicators">
            <li data-target="#carousel-money-tools" data-slide-to="0" class=""></li>

            <li data-target="#carousel-money-tools" data-slide-to="1" class=""></li>
            <li data-target="#carousel-money-tools" data-slide-to="2" class=""></li>
            <li data-target="#carousel-money-tools" data-slide-to="3" class="active"></li>
            <li data-target="#carousel-money-tools" data-slide-to="4" class=""></li>

            <!--<li data-target="#carousel-money-tools" data-slide-to="3"></li>-->
        </ol>

        <!-- Slides -->
        <div class="carousel-inner col-xs-12 card-shadow">

            <div class="item row">
                <div class="col-xs-3 small-block">
                    <img class="partner-logo"
                         src="https://myturbotax.intuitcdn.net/2.14.49/css/images/logo_benefitfinder.png"
                         alt="myCOOP Benefit Finder">
                </div>
                <div class="col-xs-9 small-block">
                    <h2>Get all the money that you deserve!</h2>

                    <p class="money-tools-content">myCOOP can help to find money that you didn't even know
                        about. It helps you find this money and easily apply to receive it.</p>
                    <a href="https://ctg.discovery.myCOOP.com/moneyfinder/mytt.html"
                       id="moneyToolBenefitFinderBtn" automationid="moneyToolBenefitFinderBtn"
                       data-nav="moneyToolBenefitFinder" title="myCOOP Benefit Finder"
                       class="btn btn-medium btn-blue btn-text-spacing col-sm-4 partner-link small-block"
                       target="_blank">Get Started</a>
                </div>
            </div>


            <div class="item row">
                <div class="col-xs-3 small-block">
                    <img class="partner-logo"
                         src="https://myturbotax.intuitcdn.net/2.14.49/css/images/logo_fcs2.png"
                         alt="myCOOP COOP Calculator">
                </div>
                <div class="col-xs-9 small-block">
                    <h2>The average credit score is 688.</h2>

                    <p class="money-tools-carousel-subhead">How does yours compare?</p>

                    <p class="money-tools-content">myCOOP recommends knowing exactly where you stand today and
                        every day. Sign up now for a free 7-day trial.*</p>
                    <a href="https://ad.doubleclick.net/ddm/clk/279022818;106202050;q"
                       id="moneyToolFreeCreditBtn" automationid="moneyToolFreeCreditBtn"
                       data-nav="moneyToolFreeCredit" title="FreeCreditScore.com"
                       class="btn btn-medium btn-blue small-block" target="_blank">Get My Score</a>
                    <img id="fcs-dnt" class="tracker visually-hidden"
                         src="https://ad.doubleclick.net/ad/N3973.115805.9491390235621/B7799884.106202050;sz=1x1;ord=1399192055453?"
                         alt="FreeCreditScore.com tracker">

                    <p class="caption">* You may cancel your free trial at anytime within the 7-day trial
                        period, without charge. Terms and conditions apply and are subject to change without
                        notice.</p>
                </div>
            </div>

            <div class="item row">
                <div class="col-xs-3 small-block">
                    <img class="partner-logo"
                         src="https://myturbotax.intuitcdn.net/2.14.49/css/images/logo_mint.png" alt="Mint.com">
                </div>
                <div class="col-xs-9 small-block">
                    <h2>Get a handle on your money the free, easy way!</h2>

                    <p class="money-tools-content">Mint does all the work of organizing your spending for you.
                        It helps you set a budget, track your goals and make money decisions you feel good
                        about.</p>
                    <a href="https://www.mint.com/?cid=int_tt_em_MymyCOOP" id="moneyToolMintBtn"
                       automationid="moneyToolMintBtn" data-nav="moneyToolMint" title="Mint.com"
                       class="btn btn-medium btn-blue btn-text-spacing col-sm-4 partner-link small-block"
                       target="_blank">Get It Now</a>
                </div>
            </div>
            <div class="item row active">
                <div class="col-xs-3 small-block">
                    <img class="partner-logo studentLoan"
                         src="http://edw2014.dataversity.net/uploads/ConfSiteAssets/79/image/bank-of-america-logo.png"
                         alt="Student Loan">
                </div>
                <div class="col-xs-9 small-block">
                    <h2>Upcoming Training Webinar Wednesday, May 15!</h2>

                    <p class="money-tools-content">Signup today for the webinar and you will overview and training of
                        the myCOOP Business Process workflow.</p>
                    <a
                            class="btn btn-medium btn-blue btn-text-spacing col-sm-4 partner-link small-block studentLoanBtn"
                            target="_blank">Learn more at mycoop.com</a>
                </div>
            </div>
            <div class="item row">
                <div class="col-xs-3 small-block">
                    <img class="partner-logo"
                         src="https://myturbotax.intuitcdn.net/2.14.49/css/images/logo_COOPcaster2.png"
                         alt="myCOOP COOP Calculator">
                </div>
                <div class="col-xs-9 small-block">
                    <h2>Get a quick free estimate of your next refund.</h2>

                    <p class="money-tools-content">Before you file, calculate roughly how much you'll get back
                        from the IRS or how much you'll owe them. Also, get personalized COOP tips to help you
                        save money next year.</p>
                    <a href="http://shop.myCOOP.myCOOP.com/COOP-tools/calculators/COOPcaster/"
                       id="moneyToolCOOPCasterBtn" automationid="moneyToolCOOPCasterBtn"
                       data-nav="moneyToolCOOPCaster" title="myCOOP COOP Caster"
                       class="btn btn-medium btn-blue btn-text-spacing col-sm-4 partner-link small-block"
                       target="_blank">Get Started</a>
                </div>
            </div>

        </div>

        <div class="m-carousel-controls m-carousel-hud">
            <!-- Left / Right Chevron Controls, if you implement this your going to need padding on the content -->
            <a class="left carousel-control" href="#carousel-money-tools" data-slide="prev">
                <img src="https://myturbotax.intuitcdn.net/2.14.49/css/images/timeline-left.png"
                     class="carousel-control-img">
            </a>
            <a class="right carousel-control" href="#carousel-money-tools" data-slide="next">
                <img src="https://myturbotax.intuitcdn.net/2.14.49/css/images/timeline-right.png"
                     class="carousel-control-img">
            </a>
        </div>
    </div>

</div>
</div>