<script type="text/javascript" src="/my-coop/scripts/libraries/jquery.js"></script>
<script type="text/javascript" src="/my-coop/scripts/libraries/jquery-ui-1.10.2.custom.js"></script>
<script type="text/javascript" src="/my-coop/scripts/libraries/primitives.latest.js"></script>
<link href="/my-coop/styles/vendor/primitives.latest.css" media="screen" rel="stylesheet" type="text/css"/>

<div>
        <!--<p>-->
            <!--<button data-ng-click='setCursorItem(0)'>Scott Aasrud</button>-->
            <!--<button data-ng-click='setCursorItem(1)'>Ted Lucas</button>-->
            <!--<button data-ng-click='setCursorItem(2)'>Joao Stuger</button>-->
        <!--</p>-->
        <div data-ng-chart="" data-ng-model='options'
             style="width: 640px; height: 480px; border-style: dotted; border-width: 1px;"></div>

</div>