<div>
    <h1>Template collection</h1>
    <p class="text-muted">
        Please use the Carousel below to select the Document Reference you wish to work on.
    </p>
    <div id="carousel" class="ContentFlow">
        <div class="flow">
            <img class="item" src="/../my-coop/images/fileicon.png"/>
            <img class="item" src="/../my-coop/images/fileicon.png"/>
            <img class="item" src="/../my-coop/images/fileicon.png"/>
            <img class="item" src="/../my-coop/images/fileicon.png"/>
            <img class="item" src="/../my-coop/images/fileicon.png"/>
        </div>
    </div>
</div>