<div style="white-space: nowrap" class="actions-bar">
    <div><a onclick="onActionClick({id},'summary')"><span class="glyphicon glyphicon-road"></span> View summary</a></div>
    <div><a onclick="onActionClick({id},'status')"><span class="glyphicon glyphicon-share-alt"></span> View Progress Status</a></div>
    <div><a onclick="onActionClick({id},'map')"><span class="glyphicon glyphicon-trash"></span> View on Incident Map</a></div>
    <div><a onclick="onActionClick({id},'navigate')"><span class="glyphicon glyphicon-retweet"></span> Navigate to entity</a></div>

</div>