<div style="white-space: nowrap" class="">
    <div><a onclick="onActionClick({id},'summary')"><span class="glyphicon glyphicon-list-alt"></span> View summary</a></div>
    <div><a onclick="onActionClick({id},'status')"><span class="glyphicon glyphicon-stats"></span> View Progress Status</a></div>
    <div><a onclick="onActionClick({id},'map')"><span class="glyphicon glyphicon-map-marker"></span> View on Incident Map</a></div>
    <div><a onclick="onActionClick({id},'navigate')"><span class="glyphicon glyphicon-share-alt"></span> Navigate to entity</a></div>

</div>