<div>
    <div class="row top-space-big">
        <div class="col-xs-12">
            <h1>Check This Entry</h1>

            <h3>{{orgEntity.title}} > {{currentDocument.title}} (2014): 'Purpose and Scope'</h3>




            <p><span class="bold">Area of ISO 22301 Addressed:</span> <a href="">Section 8.2.2 Business Impact Analysis</a>
            </p>
            <p>
                <span class="text-danger">Missing Information:</span> It's important that a defined process is followed when carrying out the business
                impact analysis due to the often difficult nature of the task. You will need to make sure that each step is
                carried out fully before moving on to the next.

            </p>
            <p>

                You may decide to use different criteria for the classification of impacts and to consider different timeframes
                when assessing the Maximum Tolerable Period of Disruption. This should be defined in your Purpose and
                Scope.

            </p>
            <p>
                Please define your business impact analysis process in line with specific requirements of your organization.

            </p>
            <p>
                <span class="bold">Example Purpose and Scope:</span> [Organization] has started on the road to adoption of the standard and has
                decided to pursue ﬁll! certification to ISO 22301 in order that the effective adoption of best practice in
                business continuity management may be validated by an external third party.

            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <textarea type="text" id="username" required="" style="height: 200px"
                   class="account-info-input  form-control editable" original-title="" placeholder="Error - Requires Content"></textarea></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="" class="btn btn-blue">Edit in the document</a>
        </div>

        <!--<div class="iframe-container">-->
        <!--<iframe src="http://docs.google.com/gview?url=http://mycoop.github.io/docs/BankOfAmericaCOOP.docx&embedded=true&p=3"-->
        <!--frameborder="0"></iframe>-->
        <!--</div>-->
    </div>
    <div class="row">

        <div class="col-xs-12">
            <hr/>

            <a class="editDetailsSubmit btn btn-medium btn-gray submit pull-left"
               ng-click="previousPage()"
               automationid="editNameSave"
               title="Save">Back</a>

            <a class="editDetailsSubmit btn btn-medium  btn-blue submit pull-right"
               automationid="editNameSave"
               ui-sref="tools.review.summary"
               title="Save">Continue</a>
        </div>
    </div>
</div>