<div id="sectionTitle">Planning Components</div>

<div id="dialogRegion" class="screenid_S1040PERbfdi10103977 section_federaltaxes">
<div id="contentRegion" role="main">
<div id="dashboardHomeLink">
    <button id="backButton" class="btn btn-primary btn-sm"
            onclick="TTOController.doTopicJump('WebTurboTax~StartGroup~WelcomeWTT')"
            data-event="@{ RUE.constants.event.RUE_NAVIGATION_CHANGE }"
            data-event-options="{ navTopic : 'rueNavDashboardHome' }" event="rue.changeNavigation">
        <span>&lt;</span>Back to 2013 tax info
    </button>
</div>
<!-- anchor link receives focus from 'Skip to Main Content' accessibility link -->
<a name="mainBody" id="mainBody"></a>

<div id="titleGraphicLayer" style="display: none;"></div>
<div id="titleLayer"><span class="title">Your 2014 Plan Documents &amp; Components</span></div>
<div id="subtitleLayer" style="display: none;"><span class="subtitle"></span></div>
<div id="scroll_wrapper">
<div id="scroll_fade"></div>
<div id="contentLayer" data-viewport="contentViewport" data-viewport-options="{dontScrollToTop : true}"
     data-visible="@{ ! ${refundExplanationViewModel.viewportVisible} }"
     data-sid="S1040PERbfdi10103977">


<table cellpadding="0" cellspacing="0" border="0" class="gridV2">
<tbody>
<tr>
    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
        <table cellpadding="0" cellspacing="0" border="0" class="gridV2">
            <tbody>
            <tr>
                <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad">
                                           <span class="main">You can visit a specific topic below or select
                                               <span class="mainbold">Visit All</span>
                                           to walk through an entire section.
                                           </span>
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" colspan="1"
                    class="colFirst colNoVerticalPad"></td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td align="left" valign="top" colspan="1" class="colFirst" style="width: 100%;">
        <div class="landingtableheader">
            <table cellpadding="0" cellspacing="0" border="0" class="gridV2">
                <tbody>
                <tr>
                    <td align="left" valign="top" colspan="1"
                        class="colFirst colNoVerticalPad colNoVerticalPad"
                        style="width: 10%;"></td>
                    <td align="left" valign="top" colspan="1"
                        class="colPad colNoVerticalPad colNoVerticalPad"
                        style="width: 64%;"></td>
                    <td align="left" valign="top" colspan="1" class="colPad colNoVerticalPad"
                        style="width: 13%;">
                        <div class="landingtablecycolheader">
                            <table cellpadding="0" cellspacing="0" border="0" class="gridV2">
                                <tbody>
                                <tr>
                                    <td align="center" valign="top" colspan="1"
                                        class="colFirst colNoVerticalPad" style="width: 100%; padding: 5px 0; color: white">
                                                                <span id="txtblk_01"><span class=""
                                                                                           id="txtblk_01_0">2014</span></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td align="left" valign="top" colspan="1"
                        class="colPad colNoVerticalPad colNoVerticalPad"
                        style="width: 2%;"></td>
                    <td align="left" valign="top" colspan="1"
                        class="colLast colNoVerticalPad colNoVerticalPad"
                        style="width: 11%;"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </td>
</tr>
<tr>
<td align="left" valign="top" colspan="1" class="colFirst">
<table cellpadding="0" cellspacing="0" border="0" class="gridV2">
<tbody>

<tr>
    <td align="left" valign="bottom" colspan="1" class="colFirst"><img
            src="https://qtwu1-lvprd-secure.images.turbotaxonline.intuit.com/turbotax/img/intgfx_landing_income_other.png"
            alt="" id="img_02" border="0"></td>
    <td align="left" valign="bottom" colspan="1" class="colPad" style="width: 64%;">
                                            <span id="txtblk_06"><span class="lndtblheadtitle" id="txtblk_06_0">Business Impact Analysis</span></span>
    </td>
    <td align="left" valign="top" colspan="1" class="colPad colNoVerticalPad"
        style="width: 13%;"></td>
    <td align="left" valign="top" colspan="1" class="colPad colNoVerticalPad"
        style="width: 2%;"></td>
    <td align="right" valign="bottom" colspan="1" class="colLast"
        style="width: 11%;">
        <button id="Visit_00" aria-label="Visit All" role="button" ng-click="redirect('/impact/processes')" class="btn ansLP"
                tabindex="3">Visit All
        </button>
    </td>
</tr>
<tr>
    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"
        style="width: 10%;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"
        style="width: 10%;"></td>
    <td align="left" valign="top" colspan="1" class="colPad" style="width: 64%;">
                                            <span id="txtblk_07"><span class="lndtblsubheaddesc" id="txtblk_07_0">Business Activities</span><span
                                                    class="none" id="txtblk_07_1"> </span><a class="none"
                                                                                             id="txtblk_07_2"><span>Learn More</span></a></span>
    </td>
    <td align="left" valign="top" colspan="1" class="colPad colNoVerticalPad"
        style="width: 13%;"></td>
    <td align="left" valign="top" colspan="1" class="colPad colNoVerticalPad"
        style="width: 2%;"></td>
    <td align="right" valign="top" colspan="1" class="colLast" style="width: 11%;">
        <button id="Start_01" aria-label="Start" role="button" class="btn ansLP"
                tabindex="4">Start
        </button>
    </td>
</tr>
<tr>
    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"
        style="width: 10%;"></td>
    <td align="left" valign="top" colspan="1" class="colPad" style="width: 64%;">
                                            <span id="txtblk_08"><span class="lndtblsubheaddesc" id="txtblk_08_0">Impact of Distruption</span><span
                                                    class="none" id="txtblk_08_1"> </span><a class="none"
                                                                                             id="txtblk_08_2"><span>Learn More</span></a></span>
    </td>
    <td align="left" valign="top" colspan="1" class="colPad colNoVerticalPad"
        style="width: 13%;"></td>
    <td align="left" valign="top" colspan="1" class="colPad colNoVerticalPad"
        style="width: 2%;"></td>
    <td align="right" valign="top" colspan="1" class="colLast" style="width: 11%;">
        <button id="Start_02" aria-label="Start" role="button" class="btn  btn-gray ansLP"
                tabindex="5">Start
        </button>
    </td>
</tr>
<tr>
    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"
        style="width: 10%;"></td>
    <td align="left" valign="top" colspan="1" class="colPad" style="width: 64%;">
                                            <span id="txtblk_09"><span class="lndtblsubheaddesc" id="txtblk_09_0">MTPD &amp; RTO</span><span
                                                    class="none" id="txtblk_09_1"> </span><a class="none"
                                                                                             id="txtblk_09_2"><span>Learn More</span></a></span>
    </td>
    <td align="left" valign="top" colspan="1" class="colPad colNoVerticalPad"
        style="width: 13%;"></td>
    <td align="left" valign="top" colspan="1" class="colPad colNoVerticalPad"
        style="width: 2%;"></td>
    <td align="right" valign="top" colspan="1" class="colLast" style="width: 11%;">
        <button id="Start_03" aria-label="Start" role="button" class="btn btn-gray ansLP"
                tabindex="6">Start
        </button>
    </td>
</tr>
<tr>
    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"
        style="width: 10%;"></td>
    <td align="left" valign="top" colspan="1" class="colPad" style="width: 64%;">
                                            <span id="txtblk_0a"><span class="lndtblsubheaddesc" id="txtblk_0a_0">Dependencies &amp; Recovery Needs</span><span
                                                    class="none" id="txtblk_0a_1"> </span><a class="none"
                                                                                             id="txtblk_0a_2"><span>Learn More</span></a></span>
    </td>
    <td align="left" valign="top" colspan="1" class="colPad colNoVerticalPad"
        style="width: 13%;"></td>
    <td align="left" valign="top" colspan="1" class="colPad colNoVerticalPad"
        style="width: 2%;"></td>
    <td align="right" valign="top" colspan="1" class="colLast" style="width: 11%;">
        <button id="Start_04" aria-label="Start" role="button" class="btn btn-gray ansLP"
                tabindex="7">Start
        </button>
    </td>
</tr>
<tr>
    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"
        style="width: 10%;"></td>
    <td align="left" valign="top" colspan="1" class="colPad" style="width: 64%;">
                                            <span><span class="lndtblsubheaddesc" >Summary</span><span
                                                    class="none" > </span><a class="none"
                                                                                             ><span>Learn More</span></a></span>
    </td>
    <td align="left" valign="top" colspan="1" class="colPad colNoVerticalPad"
        style="width: 13%;"></td>
    <td align="left" valign="top" colspan="1" class="colPad colNoVerticalPad"
        style="width: 2%;"></td>
    <td align="right" valign="top" colspan="1" class="colLast" style="width: 11%;">
        <button id="Start_04" aria-label="Start" role="button" class="btn  btn-gray ansLP"
                tabindex="7">Start
        </button>
    </td>
</tr>
<tr>
    <td align="left" valign="top" colspan="1"
        class="colFirst colNoVerticalPad"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td align="left" valign="top" colspan="5" class="colFirst">
        <div class="rule1solid"></div>
    </td>
</tr>
<tr>
    <td align="left" valign="bottom" colspan="1" class="colFirst"><img
            src="https://qtwu1-lvprd-secure.images.turbotaxonline.intuit.com/turbotax/img/intgfx_landing_income_interest.png"
            alt="" id="img_03" border="0"></td>
    <td align="left" valign="bottom" colspan="1" class="colPad" style="width: 64%;">
                                            <span id="txtblk_0b"><span class="lndtblheadtitle" id="txtblk_0b_0">Business Countiniuty Plan</span></span>
    </td>
    <td align="left" valign="top" colspan="1" class="colPad colNoVerticalPad"
        style="width: 13%;"></td>
    <td align="left" valign="top" colspan="1" class="colPad colNoVerticalPad"
        style="width: 2%;"></td>
    <td align="right" valign="bottom" colspan="1" class="colLast"
        style="width: 11%;">
        <button id="Visit_01" aria-label="Visit All" role="button" class="btn ansLP"
                tabindex="8">Visit All
        </button>
    </td>
</tr>
<tr>
    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"
        style="width: 10%;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"
        style="width: 10%;"></td>
    <td align="left" valign="top" colspan="1" class="colPad" style="width: 64%;">
                                            <span id="txtblk_0c"><span class="lndtblsubheaddesc" id="txtblk_0c_0">Purpose &amp; Scope</span><span
                                                    class="none" id="txtblk_0c_1"> </span><a class="none"
                                                                                             id="txtblk_0c_2"><span>Learn More</span></a></span>
    </td>
    <td align="left" valign="top" colspan="1" class="colPad colNoVerticalPad"
        style="width: 13%;"></td>
    <td align="left" valign="top" colspan="1" class="colPad colNoVerticalPad"
        style="width: 2%;"></td>
    <td align="right" valign="top" colspan="1" class="colLast" style="width: 11%;">
        <a id="Start_05" ui-sref="impact.scope" aria-label="Start" role="button" class="btn ansLP"
                tabindex="9">Start
        </a>
    </td>
</tr>
<tr>
    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"
        style="width: 10%;"></td>
    <td align="left" valign="top" colspan="1" class="colPad" style="width: 64%;">
                                            <span id="txtblk_0d"><span class="lndtblsubheaddesc" id="txtblk_0d_0">Objectives</span><span
                                                    class="none" id="txtblk_0d_1"> </span><a class="none"
                                                                                             id="txtblk_0d_2"><span>Learn More</span></a></span>
    </td>
    <td align="left" valign="top" colspan="1" class="colPad colNoVerticalPad"
        style="width: 13%;"></td>
    <td align="left" valign="top" colspan="1" class="colPad colNoVerticalPad"
        style="width: 2%;"></td>
    <td align="right" valign="top" colspan="1" class="colLast" style="width: 11%;">
        <button id="Start_06" aria-label="Start" role="button" class="btn ansLP"
                tabindex="10">Start
        </button>
    </td>
</tr>
<tr>
    <td align="left" valign="top" colspan="1" class="colFirst colNoVerticalPad"
        style="width: 10%;"></td>
    <td align="left" valign="top" colspan="1" class="colPad" style="width: 64%;">
                                            <span id="txtblk_0e"><span class="lndtblsubheaddesc" id="txtblk_0e_0">Activation Criteria &amp; Procedures</span><span
                                                    class="none" id="txtblk_0e_1"> </span><a class="none"
                                                                                             id="txtblk_0e_2"><span>Learn More</span></a></span>
    </td>
    <td align="left" valign="top" colspan="1" class="colPad colNoVerticalPad"
        style="width: 13%;"></td>
    <td align="left" valign="top" colspan="1" class="colPad colNoVerticalPad"
        style="width: 2%;"></td>
    <td align="right" valign="top" colspan="1" class="colLast" style="width: 11%;">
        <button id="Start_07" aria-label="Start" role="button" class="btn ansLP"
                tabindex="11">Start
        </button>
    </td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
<div id="formLayer"></div>
</div>
<div id="iconLayer"></div>
<div id="answerLayer" style="visibility: inherit;">
    <div class="ansR">
        <a id="Done_00" ui-sref="tools.review.ready" aria-label="Done with Income" role="button" class="btn ansLg" tabindex="42">
            Done with Components
        </a>
    </div>
    <div class="ansL">
        <button id="Back_00" ng-click="slide = ''" aria-label="Back" role="button" class="btn ansBackLg" tabindex="43">
            Back
        </button>
    </div>
</div>
</div>
</div>

</div>
