<div>
    <h1>Organization Hierarchy</h1>
    <p class="text-muted"><small>Hierarchy management supports the data sharing system that grants access to organizational sub units based on the BCM program requirements. It enables your company to structure your BCM data and users. Particularly if your organization has a private sharing model you may need to grant users access to organizational sub units based on criteria such as Location or a custom criteria that is relevant to your business. Hierarchy management solves these business needs and provides a powerful solution for structuring your users accounts and their associated BCM tasks and activities.</small></p>

    <div id="d3-chart-container" items="items" on-node-click="onNodeSelected(id)" d3-tree=""></div>

    <button class="btn btn-medium pull-right  btn-blue" >Print</button>
    <script>
    </script>
</div>