<div>
    <div class="row">
        <div class="col-xs-12">
            <h1>Purpose and Scope</h1>

            <p class="text-muted">
                This document sets out a detailed plan to provide business continuity in the following situation:

            </p></div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <textarea style="height: 160px" name="" id="" class="form-control">A disruptive incident has occurred that significantly affects the major IT systems of [Organisation Name] making them unavailable to users. This may be due to hardware or software failure, loss of power, physical damage or some other reason. The purpose of this plan is to recover the IT systems at an alternative location and to provide user access to them.
            </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <a class="editDetailsSubmit btn btn-medium  btn-blue submit "
               automationid="editNameSave"
               ui-sref="home.components"
               title="Save">Save & Continue</a>
            <a class="editDetailsSubmit btn btn-medium btn-gray submit left-space"
               ng-click="previousPage()"
               automationid="editNameSave"
               title="Save">Back</a>
        </div>
    </div>
</div>