<div>
    <h2 class="text-primary">Understanding of Mission, Objectives, Values and Strategies</h2>
    <p>
        It is necessary to obtain an overview of the organization to understand the compliance, challenges,
        of the organization and the inherent risk in that market segment. General information about the
        related organization should be collected to better appreciate its mission, strategies, purpose, etc.
        This helps ensuring consistency and alignment between the strategic
        objectives for risk management and the organization's mission.
    </p>
    <div ng-init="oneAtATime=true">
        <accordion close-others="oneAtATime">

            <accordion-group heading="{{group.title}}" is-open="group.isOpen" ng-repeat="group in groups">
                <p>
                    <span class="bold">Description: </span> {{group.desc}}
                </p>
                <p>
                    <span class="bold">Example: </span> {{group.example}}
                </p>
                <p>
                    <span class="bold">Implications for the BCMS: </span> {{group.implications}}
                </p>
            </accordion-group>
        </accordion>
    </div>
<div class="top-space-big">
    <div text-editor file-id="'MC4001-BusienssContinuityContextRequirementsandScope.docx'"></div>
</div>


    <div>
        <hr/>

        <a class="editDetailsSubmit btn btn-medium btn-gray submit pull-left"
           ui-sref="plan.organization"
           automationid="editNameSave"
           title="Save">Back</a>

        <a class="editDetailsSubmit btn btn-medium  btn-blue submit pull-right"
           automationid="editNameSave"
           ui-sref="plan.organization.analysis"
           title="Save">Save & Continue</a>
    </div>
</div>