<div>
    <p>
        Below are some frequently used model s to analyze and understand the strategic context of an organization.
    </p>

    <div class="panel panel-default">
        <div class="panel-body ">
            <div class="col-md-1">
                <img src="/images/caution.svg" alt=""/>
            </div>
            <div class="col-md-11">
                <div class="left-space">
                    This step should not become a project in itself. It is sufficient to analyze the
                    organization's strategic positioning and conduct interviews with some key
                    organization personnel.
                </div>
            </div>
        </div>
    </div>

    <div>
        <div text-editor="" file-id="'BankOfAmericaCOOP(5).docx'">
        </div>
    </div>
    <div>
        <hr/>

        <a class="editDetailsSubmit btn btn-medium btn-gray submit pull-left"
           ui-sref="plan.organization.analysis"
           automationid="editNameSave"
           title="Save">Back</a>

        <a class="editDetailsSubmit btn btn-medium  btn-blue submit pull-right"
           automationid="editNameSave"
           ui-sref="plan.organization.activities"
           title="Save">Continue</a>
    </div>
</div>