<div>
    <h1>Editing: {{currentDocument.documentReference}} {{currentDocument.title}}</h1>
    <h3>{{orgEntity.title}} > {{currentDocument.documentReference}} > Organizational Context</h3>
    <p>
        <span class="bold">Area of ISO 22301 Addressed:
            <a href="">clause 4.1 Understanding of the Organization and its Context</a>
        </span>
    </p>

    <p>
        Several methodologies exist to understand how an organization functions. The important outcome is to identify
        the
        characteristics of external environmental factors that will influence business continuity management: mission,
        main activities,
        internal organization, stakeholders, etc.
    </p>

    <p>
        Below are some frequently used model s to analyze and understand the strategic context of an organization.
    </p>

    <div class="panel panel-default">
        <div class="panel-body ">
            <div class="col-md-1">
                <img src="/images/caution.svg" alt=""/>
            </div>
            <div class="col-md-11">
                <div class="left-space">
                    This step should not become a project in itself. It is sufficient to analyze the
                    organization's strategic positioning and conduct interviews with some key
                    organization personnel.
                </div>
            </div>
        </div>
    </div>

    <div>
        <hr/>

        <a class="editDetailsSubmit btn btn-medium btn-gray submit pull-left"
           ui-sref="home.organization.select"
           automationid="editNameSave"
           title="Save">Back</a>

        <a class="editDetailsSubmit btn btn-medium  btn-blue submit pull-right"
           automationid="editNameSave"
           ui-sref="plan.organization.select"
           title="Save">Continue</a>
    </div>
</div>