<div>
    <p>
        Below are some frequently used model s to analyze and understand the strategic context of an organization.
    </p>

    <div class="panel panel-default">
        <div class="panel-body ">
            <div class="col-md-1">
                <img src="/images/caution.svg" alt=""/>
            </div>
            <div class="col-md-11">
                <div class="left-space">
                    This step should not become a project in itself. It is sufficient to analyze the
                    organization's strategic positioning and conduct interviews with some key
                    organization personnel.
                </div>
            </div>
        </div>
    </div>

	<div>
	
   
	   <script type="text/javascript" language="javascript">

       var docEditor;
        var fileName = "BankOfAmericaCOOP (2).docx";
        var fileType = "docx";



        var innerAlert = function (message) {
            if (console && console.log)
                console.log(message);
            ;
        };

        var onReady = function () {
            innerAlert("Document editor ready");
        };

        var onBack = function () {
            location.href = "default.aspx";
        };

        var onDocumentStateChange = function (event) {
            var title = document.title.replace(/\*$/g, "");
            document.title = title + (event.data ? "*" : "");
        };

        var onDocumentSave = function (event) {
            SaveFileRequest(fileName, fileType, event.data);
        };

        var onError = function (event) {
            if (console && console.log && event)
                console.log(event.data);
        };

		setTimeout(function(){
			   docEditor = new DocsAPI.DocEditor("iframeEditor",
                {
                    width: "100%",
                    height: "100%",

                    type: 'desktop',
                    documentType: "text",
                    document: {
                        title: fileName,
                        url: "http://localhost:80/office/TeamLabOfficeAppsExample/App_Data/__1/BankOfAmericaCOOP%20(2).docx",
                        fileType: fileType,
                        key: "-1322291389",
                        vkey: "Wnd5NnJBZlNOVis1WVd1NG42YlFnSzdNMCtvRU56NDlJZXpCYmE2R05FQT0_eyJleHBpcmUiOiJcL0RhdGUoMTQwNTg4MTY3MzQwNilcLyIsImtleSI6Ii0xMzIyMjkxMzg5Iiwia2V5X2lkIjoiX0NvbnRhY3RVc18iLCJ1c2VyX2NvdW50IjowLCJpcCI6Ijo6MSJ90",

                        info: {
                            author: "Me",
                            created: "7/20/2014"
                        },

                        permissions: {
                            edit: "True" == "True",
                            download: true
                        }
                    },
                    editorConfig: {
                        mode: 'edit',
                        canBackToFolder: "True" == "True",

                        lang: "en",

                        canCoAuthoring: false,

                        embedded: {
                            saveUrl: "http://localhost:80/office/TeamLabOfficeAppsExample/App_Data/__1/BankOfAmericaCOOP%20(2).docx",
                            embedUrl: "http://localhost:80/office/TeamLabOfficeAppsExample/App_Data/__1/BankOfAmericaCOOP%20(2).docx",
                            shareUrl: "http://localhost:80/office/TeamLabOfficeAppsExample/App_Data/__1/BankOfAmericaCOOP%20(2).docx",
                            toolbarDocked: "top"
                        }
                    },
                    events: {
                        'onReady': onReady,
                        'onBack': onBack,
                        'onDocumentStateChange': onDocumentStateChange,
                        'onSave': onDocumentSave,
                        'onError': onError
                    }
                });

		},100);
        //if (window.addEventListener) {
        //    window.addEventListener("load", сonnectEditor);
        //} else if (window.attachEvent) {
        //    window.attachEvent("load", сonnectEditor);
        // }

        function getXmlHttp() {
            var xmlhttp;
            try {
                xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
                try {
                    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                } catch (ex) {
                    xmlhttp = false;
                }
            }
            if (!xmlhttp && typeof XMLHttpRequest != 'undefined') {
                xmlhttp = new XMLHttpRequest();
            }
            return xmlhttp;
        }

        function SaveFileRequest(fileName, fileType, fileUri) {
            var req = getXmlHttp();
            if (console && console.log) {
                req.onreadystatechange = function () {
                    if (req.readyState == 4) {
                        console.log(req.statusText);
                        if (req.status == 200) {
                            console.log(req.responseText);
                        }
                    }
                };
            }

            var requestAddress = "webeditor.ashx"
                + "?type=save"
                + "&filename=" + encodeURIComponent(fileName)
                + "&filetype=" + encodeURIComponent(fileType)
                + "&fileuri=" + encodeURIComponent(fileUri);
            req.open('get', requestAddress, true);

            req.send(fileUri);
        }

    </script>
		  <div id="iframeEditor">
        </div>
	</div>
    <div>
        <hr/>

        <a class="editDetailsSubmit btn btn-medium btn-gray submit pull-left"
           ui-sref="plan.organization.analysis"
           automationid="editNameSave"
           title="Save">Back</a>

        <a class="editDetailsSubmit btn btn-medium  btn-blue submit pull-right"
           automationid="editNameSave"
           ui-sref="plan.organization.activities"
           title="Save">Continue</a>
    </div>
</div>