<div>
    <h2>Manage Business Process Additional Attributes</h2>
    <br/>

    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a ng-repeat="type in attributeTypes" ng-click="$parent.selectedType = type;"
                   class="list-group-item hover-show"
                   ng-class="{active: type == selectedType}">
                    {{type.name}}
                    <button type="button" class="close hover-child" ng-click="deleteAttributeType(type)"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                </a>

                <div class="top-space">
                    <form action="" collapse="!isTypeAdding" class="form-inline">
                        <div class="form-group"><input autofocus="" placeholder="Category Name" class="form-control"
                                                       type="text" ng-model="newType.name"/></div>
                        <div class="form-group">
                            <button class="btn btn-blue form-control" ng-click="addAttributeType()">Add</button>
                        </div>
                    </form>
                    <a href="" class="top-space" collapse="isTypeAdding" ng-click="isTypeAdding=true">+ Add more</a>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Attribute Name</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="attribute in attributes | filter:{attributeTypeId: selectedType.id}">
                            <td><span ng-hide="attribute.isEdit">{{attribute.name}}</span> <input
                                    ng-show="attribute.isEdit" type="text" ng-model="attribute.name"/></td>
                            <td><span ng-hide="attribute.isEdit">{{attribute.description}}</span> <input
                                    ng-show="attribute.isEdit" type="text" ng-model="attribute.description"/></td>
                            <td>
                                   <span class="show-hover" ng-hide="attribute.isEdit">
                                        <a class="glyphicon glyphicon-pencil" ng-click="attribute.isEdit = true"></a>&nbsp;&nbsp;
                                    <a class="glyphicon glyphicon-remove-circle delete-button"
                                       ng-click="deleteAttribute(attribute)"></a>
                                   </span>
                                    <span ng-show="attribute.isEdit">
                                        <a href="" class="ansSm btn btn-blue" ng-click="editAttribute(attribute)">Save</a>
                                        <a href="" ng-click="attribute.isEdit = false">Cancel</a>
                                    </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <form action="" collapse="!isAdding" class="form-inline">
                        <div class="form-group"><input autofocus="" placeholder="Attribute Name" class="form-control"
                                                       type="text" ng-model="newAttribute.name"/></div>
                        <div class="form-group"><input class="form-control" ng-model="newAttribute.description"
                                                       placeholder="Description" type="text"/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-blue form-control" ng-click="addAttribute()">Add</button>
                        </div>
                    </form>
                    <div collapse="isAdding">
                        <button class="btn btn-blue ansSm" ng-click="isAdding=true">Add more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-blue" ui-sref="^">Back to Business Processes</a>
</div>