<div>
    <div ng-show="$state.is('plan.organization.legal')">
        <h2 class="text-primary">Legal and Regulatory Compliance</h2>

        <div>
            <div class="top-space-big">
                <small>In creating and maintaining a BCMS it is vital that a full understanding is gained of the various
                    legal
                    and
                    regulatory requirements that apply to the Organization and its business. This will ensure that the
                    organization
                    continues to meet its obligations in the event of a disruptive incident and its interested parties
                    are
                    not
                    exposed
                    to the risk of criminal prosecution or corporate liability.
                </small>
            </div>
            <div class="top-space-big">
                <small>The purpose of this section is to document how such requirements are identified and incorporated
                    into
                    the
                    BCMS and how updates to the requirements are managed.
                </small>
            </div>
            <div class="top-space-big">
                <small>Organizations in multiple locations often need to satisfy requirements in different
                    jurisdictions.
                    ISO
                    22301 can be
                    used comply to several laws and regulations.
                </small>
            </div>
            <div class="top-space-big">
                <small>Below are examples of laws and regulations that affect four main industry sectors:</small>
            </div>
        </div>
        <br/>
        <table  class="table table-bordered top-space-big">
            <tr>
                <td width="10" class="row-header" style="background-color: #e54242"><div class="rotate-text">Healthcare</div></td>
                <td width="400" class="">

                    <ul class="regulatory-content">
                        <li class="" >
                            <span class="small"><span class="bold">HIPAA</span> (Health Insurance Portability and Accountability Act)</span>
                            <ul>
                                <li class="small">Requires data backup plan</li>
                                <li class="small">DR Plan</li>
                                <li class="small">Emergency Mode Operation Plan</li>
                                <li class="small">Requirements for Electronic Records</li>
                            </ul>
                        </li>
                    </ul>
                </td>
                <td width="10" class="row-header" style="background-color: #f09809"><div class="rotate-text">Government</div></td>
                <td width="400" class="">
                    <ul class="regulatory-section">
                        <li>
                            <span class="small"><span class="bold">FISMA</span> (Federal Information System Act 2002)</span>
                            <ul>
                                <li class="small" >Emphasis on data security</li>
                            </ul>
                        </li>
                        <li>
                            <span class="small"><span class="bold">COG</span> (COOP and Community of Government July 1999)</span>
                            <ul>
                                <li class="small" >Establishes minimum planning considerations for federal government operations</li>
                            </ul>
                        </li>
                        <li>
                            <span class="small"><span class="bold">NIST</span> (National Institute of Standards and Technology)<br/>
                            Special publications (SP) 834, Contingency Planning Guide for Information Technology
                            Systems, July
                            2002</span>
                            <ul>
                                <li class="small">Defines detailed recommendations requiring contingency, DR, and COOP plans</li>
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td width="10" class="row-header" style="background-color: #8cbf26"><div class="rotate-text">Finance</div></td>
                <td width="400" class="">
                    <ul class="regulatory-section">
                        <li>
                            <span class="small"><span class="bold">FFlEC</span> (Federal Finance Institutions Examinations Council Handbook)</span>
                            <ul>
                                <li class="small" >
                                    Specifies accountability for organization-wide
                                    contingency plans and requires timely resumption of
                                    operations in the event of a disaster
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="bold small">BASEI ll Accord, June 2004</span>
                            <ul>
                                <li class="small"> Requires banks to implement BC and DR mans to limit
                                    losses and ensure continuous operation
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="bold small">Interagency Paper on Found Practices to strengthen the
                             resilience of the US Financial System, 2003</span>
                            <ul>
                                <li class="small"> Emphasis focus on systemic Risk</li>
                                <li class="small">Requires testing of BCPs to incorporate Risk
                                    Discovery as a result of the WTC disaster
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="small"><span class="bold">EFAA</span> (Expedited Funds Availability Act), 1939</span>
                            <ul>
                                <li class="small" >Requires Federally Chartered financial institution to
                                    have a comprehensible BCP that ensures prompt
                                    availability of funds
                                </li>
                            </ul>
                        </li>
                    </ul>
                </td>
                <td width="10" class="row-header" style="background-color: #1ba0e2"><div class="rotate-text">Utilities</div></td>
                <td width="400" class="">
                    <ul class="regulatory-section">
                        <li>
                            <span class="small"><span class="bold">GASB</span> (Governmental standards Board) No. 34</span>
                            <ul>
                                <li class="small" >Requires a BCP for agency mission continuity in time</li>
                            </ul>
                        </li>
                        <li>
                            <span class="small"><span class="bold">NERC</span> (North American Electric Reliability Council 1200)</span>
                        </li>
                        <li>
                            <span class="small"><span class="bold">FERC</span> (Federal Energy Regulatory commission)</span>
                            <ul>
                                <li class="small" >Mandates Recovery Plans</li>
                            </ul>
                        </li>
                        <li>
                            <span class="bold small">RUS 7 CSR Part 1730</span>
                            <ul>
                                <li class="small" >Emergency Restoration Plan required as condition of continued borrowing</li>
                            </ul>
                        </li>
                        <li class="small" ><span class="bold">Telecommunication Act of 1996</span></li>
                        <li class="small" ><span class="bold">NERC Security Guidelines for Electricity Sector</span></li>
                    </ul>

                </td>
            </tr>
        </table>
        <div>
            <hr/>

            <a class="editDetailsSubmit btn btn-medium  btn-gray submit pull-left"
               ui-sref="plan">Back</a>

            <a class="editDetailsSubmit btn btn-medium  btn-blue submit pull-right"
               automationid="editNameSave"
               ui-sref="plan.organization.legal.procedure"
               title="Save">Continue</a>
        </div>
    </div>
    <div ui-view="" autoscroll="true"></div>
</div>