<div>
    <div ng-show="$state.is('plan')">
        <ol class="breadcrumb">
            <li>{{orgEntity.title}}</li>
        </ol>
        <h3 class="text-center">Plan</h3>

        <p>
            The ISO 22301 Standard adheres to the Plan Do Check Act model to develop and sustain a
            Business Continuity Management System (BCMS).
        </p>


        <div class="row">
            <div class="col-md-3 text-muted">Description:</div>
            <div class="col-md-9">
                <small>The "PLAN" phase establishes objectives, targets, controls, processes and procedures for the
                    program
                    to
                    deliver results in accordance with an organization's overall policies and objectives by defining the
                    business
                    continuity management program; including identifying standards, creating a policy statement,
                    appointing
                    a
                    program sponsor and steering committee, and establishing an initial program scope and risk
                    tolerance.
                </small>
            </div>
        </div>

        <div class="row top-space-big">
            <div class="col-md-3 text-muted">Implications for BCMS:</div>
            <div class="col-md-9">
                <small>
                    One of the most important "plan" activities is for executive management to identify what they want
                    to
                    protect and recover with respect to their business continuity program. The outcome of this planning
                    phase is
                    to define the key organization objectives; this output helps to position the business continuity
                    program
                    in
                    management's language, thus gaining understanding, support, and involvement from management.
                </small>

            </div>
        </div>

        <div class="row top-space-big">
            <div class="col-md-3 text-muted">Objectives of this phase:</div>
        </div>

        <div class="row top-space-big">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="list-group">
                        <a ui-sref="plan" class="list-group-item text-center active"> <h2 class=" text-center">Plan</h2></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 panels-list">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title text-center"><a href="{{organization.state}}">{{organization.name}}</a></h2></div>
                    <div class="list-group">
                        <a href="{{item.state}}" ng-repeat="item in organization.items" class="list-group-item">
                            <small class="">{{item.name}}</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 panels-list">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title text-center"><a href="{{leadership.state}}">{{leadership.name}}</a></h2></div>
                    <div class="list-group">
                        <a href="{{item.state}}" ng-repeat="item in leadership.items" class="list-group-item">
                            <small class="">{{item.name}}</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 panels-list">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title text-center"><a href="{{planning.state}}">{{planning.name}}</a></h2></div>
                    <div class="list-group">
                        <a href="{{item.state}}" ng-repeat="item in planning.items" class="list-group-item">
                            <small class="">{{item.name}}</small>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 panels-list">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title text-center"><a href="{{support.state}}">{{support.name}}</a></h2></div>
                    <div class="list-group">
                        <a href="{{item.state}}" ng-repeat="item in support.items" class="list-group-item">
                            <small class="">{{item.name}}</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <hr/>

            <a class="editDetailsSubmit btn btn-medium  btn-blue submit pull-right"
               automationid="editNameSave"
               ui-sref="plan.organization"
               title="Save">Continue</a>
        </div>
    </div>
    <div ui-view="" autoscroll="true"></div>
</div>