<div class="account-info">
    <article class="">
        <br/>

        <h2><span ng-hide="isEdit">Add</span><span ng-show="isEdit">Edit</span> Document Template</h2>

        <div class="row">
            <div class="col-md-5">
                <form action="#" id="editNameFormView" novalidate="" name="form">
                    <p class="error" role="alert" style="color:red" ng-show="error">Please, fill all required fields</p>

                    <p class="success" role="alert" style="color:green;"></p>

                    <div class="">
                        <div class="form-group">
                            <label class="label-control" for="name">* Title</label><br/>
                            <input type="text" id="name" autofocus="" required="required" ng-model="template.name" name="name"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group ">
                            <label class="label-control" for="ref">* Reference</label><br/>
                            <input type="text" id="ref" maxlength="7" required="required" ng-model="template.reference"
                                   name="ref"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group ">
                            <label class="label-control" for="purpose">* Purpose</label><br/>
                            <textarea type="text" id="purpose" style="height: 130px" required="required" ng-model="template.purpose" name="purpose"
                                      class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group ">
                            <label class="label-control" >* Component</label><br/>
                            <select class="form-control" ng-change="onComponentSelect()" ng-model="component"
                                    ng-options="c.name for c in components">
                                <option value="">-- Chose the component --</option>
                            </select>
                        </div>
                    </div>
                    <div ng-hide="isEdit">

                        <div class="form-group ">
                            <label class="label-control">* Choose the document file</label><br/>
                            <input type="file" class="form-control" ng-file-select="onFileSelect($files)" data-multiple="false">

                            <div class="btn" ng-file-select="onFileSelect($files)" data-multiple="false"></div>
                            <div ng-file-drop="onFileSelect($files)"
                                 ng-file-drag-over-class="optional-css-class-name-or-function"
                                 ng-show="dropSupported">drop files here
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div collapse="!isSaving">
                                <progressbar class="six-sec-ease-in-out top-space-big progress-striped" value="progress" max="100" type="primary"></progressbar>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5" ng-show="isEdit">

                <a href="" class=" btn ansSm btn-blue">Edit Template Contents</a>
                <div class="document-preview top-space" style="background-image: url('/docs/placeholder_image.png')">
                    <!--<img height="400px" src="" alt=""/>-->
                </div>
                <a href="" class="btn btn-gray small ansSm pull-right top-space-big" ng-click="deleteTemplate()">Delete</a>
            </div>
        </div>



        <div class="editDetailsButtonRow top-space">
            <a href="" class=" btn btn-medium  btn-blue submit" ng-click="save()">Save</a>
            <a href="" class=" btn btn-medium btn-gray-light cancel" ng-click="$state.go('^', {},{reload: true})">Cancel</a>
        </div>
    </article>
</div>