<div>
    <h1>Document Templates</h1>

    <div ng-show="$state.is('tools.document-templates')">
        <ul rn-carousel rn-carousel-indicator rn-carousel-control rn-carousel-index="selectedSlide"
            style="height: 400px">
            <li slide ng-repeat="template in datasource" active="template.active">
                <div class="image-slide doc" style="background-image: url('/api{{template.image}}')"></div>
                <div class="carousel-caption" style="position: initial;">
                    <h4 style="color: #000;">{{template.reference}}</h4>

                    <p style="color: #000;">{{template.name}}</p>
                </div>
            </li>
        </ul> <a class="btn btn-medium  btn-blue" ui-sref="tools.document-templates.add">Create New Document Template</a>


        <a ui-sref="config.orgunits" class="btn btn-orange left-space">Continue</a>
        <div>
            <table class="table">
                <thead>
                <tr class="bold">
                    <th class="col-md-3">Title</th>
                    <th class="col-md-2">Reference</th>
                    <th class="col-md-5">Purpose</th>
                    <th class="col-md-1">Pages</th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-class="{active: doc.active}" ng-repeat="doc in datasource">
                    <td class="col-md-1">{{doc.name}}</td>
                    <td class="col-md-1">{{doc.reference}}</td>
                    <td class="col-md-1">{{doc.purpose}}</td>
                    <td class="col-md-1">{{doc.pagesCount}}</td>
                    <td class="col-md-1">
                    <span class="show-hover">
                        <a class="glyphicon glyphicon-pencil clickable" ng-click="$state.go('.edit', {id: doc.id})"></a> &nbsp;&nbsp;
                        <a class="glyphicon glyphicon-remove-circle clickable" ng-click="deleteTemplate(doc)"></a>
                    </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ui-view="" autoscroll="true"></div>
</div>