.footer-logo {
    width: 200px;
    height: 69px !important;
    background: url('/my-coop/experiences/default/images/coop-logo.png') no-repeat;
    background-size: 100%;
    margin: 0 auto 10px;

}

.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    width: 99%;
    height: 300px;
}

.defaultGridStyle{
    /*border: 1px solid rgb(212, 212, 212);*/
    width: 100%;
    /*min-height: 300px;*/

}
.defaultGridStyle .ngTopPanel{
    background-color: #dddddd !important;
}

.doubleHeader .ngCanvas {
    margin-top: 30px !important;
}

.doubleHeader .ngHeaderContainer, .ngHeaderScroller {
    height: 60px !important;
}

.address {
    padding: 4px;
    position: absolute;
    left: 60%;
    width: 40%;
    border-left: 1px solid #ccc;
    bottom: 0;
    top: 0;
    text-align: center;
}

TR.mcRow:hover {
    cursor: pointer;
    background: #d3d3d3;
}

input.ng-invalid.ng-dirty {
    border-color: red !important;
}

input:read-only {
    color: lightslategray !important;
}

td.colFirst {
    min-width: 174px;
}

.form-control {
    margin-bottom: 10px;
}

input.small {
    width: auto;
}

.bp-item {
    overflow: visible !important;
}

.actions-bar a {
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

.bt-item-frame:hover {
    background: #dbdbdb;
}

.medal-icon {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
    background-size: 100% 100%;
}

.medal-icon.gold{
    background-image: url("/images/icons/medal-gold.png");
}
.medal-icon.silver{
    background-image: url("/images/icons/medal-silver.png");
}
.medal-icon.bronze{
    background-image: url("/images/icons/medal-bronze.png");
}

.iframe-container {
    overflow: hidden;
}

.iframe-container iframe {
    width: 100%;
    padding: 0;
    border: 0;
    height: 500px;
}

select.table-select{
    width: 100%;
    border-radius: 0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    padding-left: 5px;
    height: 100%;
    background: transparent;
    border:none;
    outline:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    position: relative;
    cursor:pointer;
}

select.table-select::after{
    content: '&#9660;';
    position: absolute;
    right: 10px;
    top:10px;
}


.color-item{
    display: inline-block;
    width: 40px;
    height: 25px;
    border: 1px solid #d3d3d3;
    margin-right: 5px;
}

.top-space{
    margin-top: 6px;
}

.bg-warning{
    background-color: #d9534f;
    padding: 10px 15px;
    border-radius: 5px;
    color: #ffffff;
    margin: 1.6rem 0;
    font-size: 1.6rem;
}

.bg-info{
    background-color: #5bc0de;
    padding: 10px 15px;
    border-radius: 5px;
    color: #ffffff;
    /*margin: 1.6rem 0;*/
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.bg-info a{
    color: #000000;
}